$primary-color-dark : #1976D2;
$primary-color : #2196F3;
$primary-color-light : #9CD0FC;
$primary-color-text : #FFFFFF;
$accent-color : #8e44ad;
$primary-text-color : #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
$white: #fff;
$black: #000;

%regular-font {
    font-family: 'Open Sans', sans-serif;
}

%headline-font {
    font-family: 'Playfair Display', serif;
}
